

* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    margin: 0;
    position: relative;
}

.container {
    background-color: black;
    padding: 2rem;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2rem;
}

.flexItem {
    background-color: lightblue;
    display: flex;
    justify-content: center;
    transition: all 500ms;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.image {
    object-fit: contain;
    width: 100%;
    width: 10em;
    transform: rotateY(180deg);
}

.button {
    width: 10em;
    height: 5em;
    border-radius: 20%;
}

.winnerContainer {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}