

* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    margin: 0;
}

.container {
    background-color: black;
    padding: 2rem;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2rem;
}

.flexItem {
    background: white;
    display: flex;
    justify-content: center;
}

.image {
    object-fit: contain;
    width: 10em;
}

